@page {
	margin: 0.25in;
}

a {
	text-decoration: none;
}

div.header a {
	color: black;
}

body, html {
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 100%;
	height: 100%;
}

.underlineOnHover {
	cursor: pointer;
}

.underlineOnHover:hover {
	text-decoration: underline;
}

.pre {
	white-space: pre-line;
}

.warning {
	font-weight: bold;
	color: red;
}

.floatingButton {
	float: left;
	font-weight: bold;
	cursor: pointer;
	font-weight: bold;
	margin-right: 10px;
}

.floatingButton:hover {
	text-decoration: underline;
}

.floatingButton img {
	vertical-align: text-bottom;
	margin-right: 2px;
	width: 16px;
	height: 16px;
}

.cs::-webkit-scrollbar { width:12px }
.cs::-webkit-scrollbar-thumb:vertical {
	background-color: #E6E6E6;
}
.cs::-webkit-scrollbar-thumb:vertical:hover{background-color: #999999}

.dntree {
	clear: both;
	margin-bottom: 10px;
}

.dntree-header {
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	font-weight: bold;
	cursor: pointer;
	color: black;
}

.dntree.l1 > .dntree-header {
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 0px;
	font-weight: bold;
	position: relative;
	background-color: #E6E6E6;
	background-image: -ms-linear-gradient(top, #F0F0F0 0%, #DCDCDC 100%);
	background-image: -moz-linear-gradient(top, #F0F0F0 0%, #DCDCDC 100%);
	background-image: -o-linear-gradient(top, #F0F0F0 0%, #DCDCDC 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #DCDCDC));
	background-image: -webkit-linear-gradient(top, #F0F0F0 0%, #DCDCDC 100%);
	background-image: linear-gradient(to bottom, #F0F0F0 0%, #DCDCDC 100%);
}

.dntree.l1 > .dntree-header img {
	vertical-align: text-bottom;
	margin-right: 2px;
}

.dntree.l2 > .dntree-header {
	font-size: 120%;
	border-top: 1px solid #CCCCCC;
}

.dntree-header .dntool {
	float: right;
	cursor: pointer;
	font-weight: normal;
	padding-right: 3px;
	padding-top: 1px;
	font-size: 83%;
}

.dntree-header .dntool:hover {
	text-decoration: underline;
}

.dntree-header .dntool img {
	vertical-align: text-bottom;
	margin-right: 2px;
	width: 14px;
	height: 14px;
}

.dntree-body {
	padding-left: 0px;
	padding-top: 5px;
}

.dntree.l1 > .dntree-body {
	padding-left: 2px;
}

.dn-obj {
	clear: both;
	padding-top: 0.5em;
}

.dn-obj .dn-obj-left {
	cursor: pointer;
	color: black;
	float: left;
}

.dn-obj .dn-obj-left > div {
	display: inline-block;
	width: 16px;
	margin-right: 4px;
}

.dn-obj .dn-obj-left img {
	vertical-align: text-top;
	max-height: 16px;
	max-width: 16px;
}

.dn-obj .dn-obj-right {
	float: right;
}

.dn-obj .dn-obj-icon {
	cursor: pointer;
	margin-right: 5px;
}

.dn-obj .dn-obj-icon img {
	vertical-align: top;
}

.dn-obj .dn-obj-comments {
	clear: both;
	cursor: pointer;
	padding-top: 1ex;
	padding-bottom: 1ex
}

.dn-obj .dn-obj-left:hover {
	text-decoration: underline;
}

body.yui-skin-sam .yui-panel .hd {
	background-color: #E6E6E6;
	background-image: -ms-linear-gradient(top, #F0F0F0 0%, #DCDCDC 100%);
	background-image: -moz-linear-gradient(top, #F0F0F0 0%, #DCDCDC 100%);
	background-image: -o-linear-gradient(top, #F0F0F0 0%, #DCDCDC 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #DCDCDC));
	background-image: -webkit-linear-gradient(top, #F0F0F0 0%, #DCDCDC 100%);
	background-image: linear-gradient(to bottom, #F0F0F0 0%, #DCDCDC 100%);
}

body.yui-skin-sam .yui-panel .bd, body.yui-skin-sam .yui-panel .ft {
	background-color: white;
}

div.item label, div.item span.label {
	float: left;
	margin-right: 5px;
	width: 120px;
}

div.subheader {
	height: 2em;
	float: left;
}

div.subheader span {
	font-size: 1.5em;
	padding-left: 1em;
	padding-right: 1em;
	color: #5a8ed7;
	font-weight: bold;
}

div.subheader span a {
	color: inherit;
}

div.subheader.active span {
	color: #945e3b;
}

div.phead {
	color: #5a8ed7;
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 5px
}

div.lmenu {
	font-size: 1.5em;
	padding-bottom: 10px;
	color: #333333;
}

div.lmenu a {
	color: inherit;
}

.yui-skin-sam .clickableyuitable .yui-dt-body {
	cursor: pointer;
}

textarea.entityform {
	width: 350px;
	height: 150px
}

.hint {
	color: #666666;
	text-decoration: italic;
	font-size: smaller
}

.printonly {
	display: none;
}

.maplabelnormal .maplabel {
}

.maplabelbacklit .maplabel {
	background-color: white;
}
	
.maplabelhidden .maplabel {
	display: none;
}

.growYUITable table {
	width: 100%;
}

div.olControlScaleLine {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

div.olControlScaleLineTop {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

div.olControlScaleLineBottom {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	position: relative;
	top: -1px;
}

@media print {
	.noprint {
		display: none !important;
	}
	.printonly {
		display: block !important;
	}
	.printnooffset {
		padding: 0 !important;
		margin: 0 !important;
		border: 0 !important;
	}
	.printnotransform {
		-webkit-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
	}
	.printimgabsolute img {
		position: absolute !important;
	}
	img.olAlphaImage {
		position: absolute !important;
	}
	div.olAlphaImage {
		position: absolute !important;
	}
}
